.container {
    max-width: 800px;
    margin: 0 auto;
}
.progressive-images {
    position: relative;
}
.progressive-images img {
    max-width: 100%;
}
.progressive-images__blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    z-index: 8;
}
.is-loaded .progressive-images__blur {
    transition: opacity .6s;
    opacity: 0 !important;
}
.progressive-images__original {
    position: relative;
    z-index: 9;
    opacity: 0 !important;
}
.is-loaded .progressive-images__original {
    transition: opacity .4s;
    opacity: 1 !important;
}
