/* Common Styles */
img {
    max-width: 100%;
    height: auto;
}
.demo-container {
    max-width: 800px;
    margin: 0 auto;
}

/* LazyLoad Demo */
.lazy-container {
    overflow: hidden;
}
.lazy {
    filter: blur(30px);
    opacity: 0.8;
}
.lazy.loaded {
    filter: none;
    opacity: 1;
    transition: opacity 0.5s;
}
